<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
<h1> Company Logo</h1>

{% block main %}
{% endblock %}

<hr> 

<a href="{% url 'tasks/index' %}">View Tasks</a> 
<a href="{% url 'add' %}">Add a new Task</a>
<a href="{% url 'contactus' %}">Contact us</a>

<hr>
{% if devname %}
Developed by {{devname}}
{% endif %}
</body>
</html>